{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
{{ dump(posts) }}
<div class="container">
    <div class="row">
        <div class="col-md-8">
            <h1>Accueil</h1>
            <p>Bienvenue sur mon blog</p>
            <h2>Les derniers articles</h2>
            {% for post in posts %}
                <h3>{{ post.postTitle }}</h3>
                <p>{{ post.postText }}</p>
                <p>Publié le {{ post.postDateCreated|date('d/m/Y') }}</p>

                {% if post.sections %}
                    {% for section in post.sections %}
                        <p>{{ section.sectionTitle }} | {{ section.sectionDescription }}</p>
                    {% endfor %}
                {% endif %}
            {% endfor %}
        </div>
    </div>
    </div>
{% endblock %}
